.button._input {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 40px;
  padding: 0 15px;

  border: 2px solid #EBEBEB;
  background-color: #EBEBEB;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  &:hover{
    border: 2px solid #00AB4F;
  }

  &._action {
    padding: 0;
    border: 2px solid #FFBB00;
    border-radius: 5px;

    input {
      width: 100%;
      background-color: #fff;
      color: #000;

      font-size: 20px;
      line-height: 34px;
      box-sizing: content-box;
      text-align: center;
      border: none;

      &._blur {
        background-color: #EBEBEB;
      }
    }
  }

  .button__text {
    margin: 0;
    padding: 0 0 0 10px;
    color: #000;
    vertical-align: middle;
    font-size: 18px;
  }
}

