.button._input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: #EBEBEB;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer; }
  .button._input._action {
    padding: 0; }
    .button._input._action input {
      width: 100%;
      background-color: #fff;
      color: #000;
      border: 2px solid #00AB4F;
      border-radius: 5px;
      font-size: 20px;
      line-height: 34px;
      box-sizing: border-box;
      text-align: center; }
      .button._input._action input._blur {
        background-color: #EBEBEB; }
  .button._input .button__check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background-color: #BFBFBF;
    border-radius: 20px;
    font: normal 16px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff; }
  .button._input .button__text {
    margin: 0;
    padding: 0 0 0 10px;
    color: #000;
    vertical-align: middle;
    font-size: 18px; }
