
.steps-paginator{
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  user-select: none;
  width: 60%;
}

.step-btn{
  width: 150px;
  padding: 5px;
  display: inline-block;
  border: 2px solid #BFBFBF;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.btn-prev{
  color: #BFBFBF;
  font-weight: bold;
  text-align: left;
  padding-left: 1.5em;
}

.btn-prev:before{
  content: "\f104";
  font-family: FontAwesome, serif;
  font-size: 1.2em;
  color: #BFBFBF;
  margin-right: 0.5em;
}

.btn-prev:hover:before{
  color: #FFBB00;
}

.btn-prev:hover{
  color: #FFBB00;
  border: 2px solid #FFBB00;
}

.btn-next:after{
  content: "\f105";
  font-family: FontAwesome, serif;
  font-size: 1.2em;
  color: #FFBB00;
  margin-left: 0.3em;
}

.btn-next{
  border-color: #FFBB00;
  color: #FFBB00;
  font-weight: bold;
  text-align: right;
  padding-right: 1.5em;
}

.btn-next:hover:after{
  color: #ffffff;
}

.btn-next:hover{
  background-color: #FFBB00;
  color: #ffffff;
}