.button {
  display: inline-block;
  width: auto;
  height: 40px;

  background-color: #EBEBEB;
  border-radius: 5px;
  line-height: 36px;
  cursor: pointer;

  .fa {
    display: inline-block;
    vertical-align: middle;
    background-color: #BFBFBF;
    border-radius: 20px;
    padding: 4px 5px;
    font-size: 20px;
    line-height: 20px;
    color: #fff;
  }

  p {
    width: 80%;
    margin: 0;
    color: #000;
    vertical-align: middle;
    font-size: 18px;
  }
}