.button {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: 40px;
  padding: 0 15px;

  background-color: #EBEBEB;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;

  .button__check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;

    background-color: #BFBFBF;
    border-radius: 20px;
    font: normal 16px/26px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
  }

  .button__text {
    margin: 0;
    padding: 0 0 0 10px;
    color: #000;
    vertical-align: middle;
    font-size: 18px;
  }
}